# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
#.dll
#.dylib
*.pdb
*.suo
*.sdf
*.opensdf

# Qt-es
*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
.qmake.stash
*-build-*

*.obj
*.manifest
*.res
*.tlog
*.log
*.exe
*.exp

# Mac
*.DS_Store
*.o
*.o-i386
*.o-x86_64
Makefile.Debug
Makefile.Release

# Windows
*.sln
*.vcxproj
*.vcxproj.filters

# temporary and html doc files
intermediate/
_doc/
_bin/
.settings/